body{
    background-color: #a4d67f;
}
h1{
    text-align: center;
    color: #10172c;
}
.col-md-6{
    align-content: center;
}
h2, h3, h4, h5, h6 {
    font-family: 'Saira Extra Condensed',serif;
    font-weight: 850;
    text-transform: uppercase;
    color: #343a40;
}